.file-reader {
    display: flex;
    padding: 100px 0 100px 0;
    border-bottom: 2px solid #1a202c;
}

.col {
    flex: 0 0 50%;
}

.file-reader__input {
    display: flex;
    justify-content: end;
    align-items: center;
}

.file-reader__button {
    width: 250px;
    height: 80px;
    border: 5em;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
    -webkit-transform: translate(0);
    transform: translate(0);
    background-image: linear-gradient(45deg, #ebc751, #dc5858);
    padding: 0.7em 2em;
    border-radius: 15px;
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
    -webkit-transition: box-shadow 0.25s;
    transition: box-shadow 0.25s;
    color: white;
}

.file-reader__button .text {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(45deg, #ebc751, #dc5858);
}

.file-reader__button::after {
    content: "";
    border-radius: 15px;
    position: absolute;
    margin: 4px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background: #1a202c;
}

.file-reader__button:hover {
    background-image: linear-gradient(135deg, #e5ca7a, #e32424);
    box-shadow: 0 12px 24px rgba(128, 128, 128, 0.1);
}

.file-reader__button:hover .text {
    background-image: linear-gradient(45deg, #ebc751, #dc5858);
}

.csv-input {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

label {
    cursor: pointer;
}
